.main-content {
    &__users {
        margin-top: 50px;
        @media #{$mobile-breakpoint} {
            -webkit-column-count: 2; 
            -moz-column-count: 2;
            column-count: 2;
        }
        @media #{$tablet-breakpoint} {
            margin: 80px 0;
        }
        li {
            cursor: pointer;
            margin-bottom: 30px;
            text-transform: capitalize;
        }
        img {
            border-radius: 50%;
            display: inline-block;
            max-width: 48px;
            margin-right: 10px;
            vertical-align: middle;
        }
        &__info {
            background: $white;
            bottom: 0;
            height: 100%;
            right: -100%;
            position: fixed;
            text-align: left;
            top: 50px;
            transition: right .5s;
            width: 100%;
            @media #{$tablet-breakpoint} {
                border-left: 2px solid $grey;
                width: 30%;
            }
            @media #{$desktop-breakpoint} {
                width: 35%;
            }
            div {
                background-color: $teal;
                color: $white;
                @include rem(padding, 30px 0);
                text-align: center;
                text-transform: capitalize;
                @media #{$mobile-breakpoint} {
                    @include rem(padding, 100px 0);
                }
                span {
                    display: block;
                    height: 20px;
                    left: 10px;
                    position: absolute;
                    top: 10px;
                    width: 20px;
                    &:before, &:after {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 100%;
                        top: 50%;
                        left: 0;
                        margin-top: -1px;
                        background: $grey-blue;
                    }
                    &:before {
                        @include transform(rotate(45deg));
                    }
                    &:after {
                        @include transform(rotate(-45deg));
                    }
                }
            }
            ul {
                @include rem(padding, 30px);
            }
            li {
                display: block;
                &:nth-child(odd) {
                    margin-bottom: 0;
                }
                &:nth-child(even) {
                    @include rem(font-size, 1.6rem);
                    font-weight: 700;
                    margin-bottom: 30px;
                }
            }
            img {
                border: 3px solid $white;
                border-radius: 50%;
                display: block;
                margin: 0 auto 20px;
                max-width: 128px;
            }
        }

        .active {
            .main-content__users__info {
                right: 0;
            }
        }
    }
}