.sidebar {
    background: $grey-blue;
    bottom: 0;
    color: $white;
    height: calc(100% - 50px);
    left: -100%;
    @include rem(padding, 10px);
    position: absolute;
    text-align: left;
    top: 50px;
    width: 100%;
    transition: left .5s;
    @media #{$tablet-land-breakpoint} {
        height: 100vh;
        left: 0;
        max-width: 200px;
        position: fixed;
        top: 0;
        transition: inherit;
        z-index: 3;
    }
    &.active {
        left: 0;
        transition: left .5s;
    }

    &--header {
        margin-bottom: 20px;
        @media #{$tablet-breakpoint} {
            margin-bottom: 50px;
        }
    }

    &__picture {
        border: 2px solid $white;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
        max-width: 50px;
        @media #{$tablet-breakpoint} {
            display: block;
            margin: 20px auto;
        }
    }

    &__details {
        display: inline-block;
        position: relative;
        top: -5px;

        @media #{$tablet-breakpoint} {
            display: block;
            text-align: center;
        }
    }

    &--nav {
        li {
            margin-bottom: 20px;
            padding-left: 45px;
            position: relative;
            a {
                color: $white;
                text-decoration: none;
            }
        }
    }

}