.navigation {
    background: $grey;
    height: 50px;
    @include rem(padding, 10px);
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 1;
    

    .search {
        &__input {
            border: 0;
            @include border-radius(30px);
            @include rem(font-size, 1.2rem);
            margin-right: 30px;
            @include rem(padding, 5px 15px);
        }
    }
}