/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) { 
    body {
        overflow: hidden;
        position: fixed;
        &:before {
            align-items: center;
            background: $grey;
            color: $grey-blue;
            content: "Please use Portrait Orientation";
            display: flex;
            @include rem(font-size, 3rem);
            height: 100vh;
            justify-content: center;
            left: 0;
            position: relative;
            top: 0;
            width: 100%;
            z-index: 10;
        }
    }
}